* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    z-index: 999;
    background: white;
    border: 1px solid #ccc;
    width: 80%;
    margin-inline: auto;
    padding: 15px;
}
.modal-heading {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.modal-dialog .modal-heading h2{
    display: inline-block;
    width: 95%
}
.overlay {
    position: absolute;
    inset: 0;
    background: #0000008b;
    z-index: 998;
}