.box{
    width: 600px;
    height: 600px;
    background-color: yellow;
    background-image: url("https://upload.wikimedia.org/wikipedia/vi/1/1d/Manchester_City_FC_logo.svg");
    background-repeat: no-repeat;
    /*background-position: 100px 100px;*/
    background-size: contain;
    /*background-size: cover;*/
    /*background-size: auto;*/
}