.box {
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin: 30px auto;
    position: relative;
}
.item {
    width: 150px;
    height: 50px;
    background: green;
    color: white;
    border: 1px solid white;
}
.item:nth-child(2) {
    position: absolute;
    background: red;
    top: 0;
    right: 0;
}